<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlLiteSessionStorePath" value="|DataDirectory|SessionData.s3db"/>
    <add key="SessionTimeOut" value="60"/>
    <add key="SessionCheckTimer" value="30"/>
    <add key="T2GServiceUserName" value="admin"/>
    <add key="T2G_Password" value="admin"/>
    <add key="T2G_NotificationUrl" value=""/>
    <add key="ApplicationId" value=""/>
    <!-- Event Log levels: none = 0, debug = 1, info  = 2, error = 3, warning = 4-->
    <add key="LogLevel" value="4"/>
    <!-- Enable/Disable filtering support of services of local train. Valid values: true or false. Default false -->
    <add key="EnableFilterLocalServiceOnly" value="false"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="NotificationServerBehavior" name="SessionTests.GroundAppNotificationServiceStub">
        <endpoint address="" binding="customBinding" bindingConfiguration="NotificationBinding"
          bindingNamespace="http://alstom.com/pacis/pis/ground/notification/"
          contract="PIS.Ground.GroundCore.AppGround.INotificationAppGroundService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="NotificationBinding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="524288" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="524288" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="false" />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NotificationServerBehavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    </system.serviceModel>
</configuration>