<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="WebServicesUrls" value="http://alstom-ground-pis-server/Session/SessionService.svc;http://alstom-ground-pis-server/DataPackage/DataPackageService.svc;http://alstom-ground-pis-server/InfotainmentJournaling/JournalingService.svc;http://alstom-ground-pis-server/InstantMessage/InstantMessageService.svc;http://alstom-ground-pis-server/LiveVideoControl/LiveVideoControlService.svc;http://alstom-ground-pis-server/Maintenance/MaintenanceService.svc;http://alstom-ground-pis-server/Mission/MissionService.svc;http://alstom-ground-pis-server/RealTime/RealTimeService.svc"/>
        <add key="PollingIntervalSec" value="300"/>
        <add key="RetryOnErrorIntervalSec" value="60"/>
    </appSettings>
</configuration>