<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="T2G_NotificationUrl" value="http://alstom-ground-pis-server/InstantMessage/T2GNotificationService.asmx"/>
    <add key="T2GServiceUserName" value="admin"/>
    <add key="T2G_Password" value="admin"/>
    <add key="ApplicationId" value="PIS.InstantMessage"/>
    <add key="SqlLiteSessionStorePath" value="|DataDirectory|..\..\Session\App_Data\SessionData.s3db"/>
    <!-- Session time out value is in minutes-->
    <add key="SessionTimeOut" value="60"/>
    <!-- Session Check Timer value in minutes-->
    <add key="SessionCheckTimer" value="30"/>

    <add key="HistoryLogDBConfigPath" value="|DataDirectory|..\..\Maintenance\App_Data\HistoryLogDBConfig.xml"/>
    <add key="CreateTableScript" value="|DataDirectory|..\..\Maintenance\App_Data\HistoryLogDataBaseScript.sql"/>
    <add key="LogBackUpPath" value="|DataDirectory|..\..\Maintenance\App_Data\Archive\"/>
    <!-- Event Log levels: none = 0, debug = 1, info  = 2, error = 3, warning = 4-->
    <add key="LogLevel" value="3"/>
    <!-- Time, in second, to wait between two uploads to T2G Ground -->
    <add key="WaitingTimeBetweenUploads" value="60"/>
    <!-- Maximum parrallel uploads to T2G Ground -->
    <add key="MaxParallelUploadsLimit" value="3"/>
    <!-- Enable/Disable filtering support of services of local train. Valid values: true or false. Default false -->
    <add key="EnableFilterLocalServiceOnly" value="false"/>

  </appSettings>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="SessionContext" type="PIS.Ground.Core.SessionMgmt.SessionContextBindingElementSection, PIS.Ground.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add name="T2GContext" type="Ground.Core.T2G.SessionContextBindingElementSection, Ground.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add name="HistoryLoggerContext" type="PIS.Ground.Core.LogMgmt.HistoryLoggerContextBindingElementSection, PIS.Ground.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingElementExtensions>
    </extensions>
    <services>
      <service behaviorConfiguration="PIS.Train.InstantMessage.InstantMessageServiceBehavior" name="PIS.Train.InstantMessage.IInstantMessageTrainService">
        <endpoint address="" binding="customBinding" bindingConfiguration="InstantMessageBinding" bindingNamespace="http://alstom.com/pacis/pis/train/instantmessage/"
              contract="PIS.Train.InstantMessage.IInstantMessageTrainService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PIS.Train.InstantMessage.InstantMessageServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="TrainInstantMessageServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65536"  maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
          
        </binding>
        <binding name="BasicHttpBinding"
          openTimeout="00:01:00"
          closeTimeout="00:01:00"
          sendTimeout="00:01:00"
          receiveTimeout="00:10:00">
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="InstantMessageBinding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="1048576" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="1048576" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://alstom.com/pacis/pis/train/instantmessage/"
           binding="customBinding" bindingConfiguration="InstantMessageBinding"
          contract="PIS.Train.InstantMessage.IInstantMessageTrainService" 
          name="InstantMessageEndpoint" />
    </client>
  </system.serviceModel>

</configuration>