<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>  
    <client>
      <endpoint address="http://alstom-ground-pis-server:8070/RemoteDataStoreService"
       binding="customBinding" contract="PIS.Ground.RemoteDataStore.IRemoteDataStore" />      
    </client>    
  </system.serviceModel>
</configuration>