<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SqlLiteSessionStorePath" value="|DataDirectory|SessionData.s3db"/>
    <add key="SessionTimeOut" value="60"/>
    <add key="SessionCheckTimer" value="30"/>
    <add key="T2GServiceUserName" value="admin"/>
    <add key="T2G_Password" value="admin"/>
    <add key="T2G_NotificationUrl" value="http://alstom-ground-pis-server/RealTime/T2GNotificationService.asmx"/>
    <add key="ApplicationId" value="PIS.RealTime.Test"/>
    <!-- Event Log levels: none = 0, debug = 1, info  = 2, error = 3, warning = 4-->
    <add key="LogLevel" value="4"/>
    <!-- Enable/Disable filtering support of services of local train. Valid values: true or false. Default false -->
    <add key="EnableFilterLocalServiceOnly" value="false"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
        <customBinding>
            <binding name="RealTimeBinding">
                <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
           messageVersion="Soap12" writeEncoding="utf-8">
                    <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </textMessageEncoding>
                <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
           maxReceivedMessageSize="1048576" allowCookies="false" authenticationScheme="Anonymous"
           bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
           keepAliveEnabled="true" maxBufferSize="1048576" proxyAuthenticationScheme="Anonymous"
           realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
           useDefaultWebProxy="true" />
            </binding>
        </customBinding>
   </bindings>
   <behaviors/>
    <client>
        <endpoint address="http://alstom-ground-pis-server:8070/RemoteDataStoreService"
         binding="customBinding" contract="PIS.Ground.RemoteDataStore.IRemoteDataStore" />
        <endpoint address="http://alstom.com/pacis/pis/train/realtime/"
              binding="customBinding" bindingConfiguration="RealTimeBinding"
             contract="PIS.Train.RealTime.IRealTimeTrainService"
             name="RealTimeTrainEndpoint"/>
   </client>
      <services>
          <service name="PIS.Ground.RealTimeTests.TrainServerSimulator.RealTimeTrainService">
              <endpoint address="" binding="customBinding" bindingConfiguration="RealTimeBinding"
                bindingNamespace="http://alstom.com/pacis/pis/train/realtime/"
                contract="PIS.Train.RealTime.IRealTimeTrainService">
                  <identity>
                      <dns value="localhost" />
                  </identity>
              </endpoint>
          </service>
      </services>
  </system.serviceModel>
</configuration>