<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
        <customBinding>
            <binding name="RealTimeBinding">
                <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
           messageVersion="Soap12" writeEncoding="utf-8">
                    <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </textMessageEncoding>
                <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
           maxReceivedMessageSize="1048576" allowCookies="false" authenticationScheme="Anonymous"
           bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
           keepAliveEnabled="true" maxBufferSize="1048576" proxyAuthenticationScheme="Anonymous"
           realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
           useDefaultWebProxy="true" />
            </binding>
        </customBinding>
   </bindings>
   <behaviors/>
    <client>
        <endpoint address="http://alstom-ground-pis-server:8070/RemoteDataStoreService"
         binding="customBinding" contract="PIS.Ground.RemoteDataStore.IRemoteDataStore" />
        <endpoint address="http://alstom.com/pacis/pis/train/realtime/"
              binding="customBinding" bindingConfiguration="RealTimeBinding"
             contract="PIS.Train.RealTime.IRealTimeTrainService"
             name="RealTimeTrainEndpoint"/>
   </client>
      <services>
          <service name="PIS.Ground.RealTimeTests.TrainServerSimulator.RealTimeTrainService">
              <endpoint address="" binding="customBinding" bindingConfiguration="RealTimeBinding"
                bindingNamespace="http://alstom.com/pacis/pis/train/realtime/"
                contract="PIS.Train.RealTime.IRealTimeTrainService">
                  <identity>
                      <dns value="localhost" />
                  </identity>
              </endpoint>
          </service>
      </services>
  </system.serviceModel>
</configuration>