<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlLiteSessionStorePath" value="|DataDirectory|..\..\Session\App_Data\SessionData.s3db"/>
    <!--Session time out value is in minutes-->
    <add key="SessionTimeOut" value="60"/>
    <!--Session Check Timer value in minutes-->
    <add key="SessionCheckTimer" value="30"/>
    <add key="T2GServiceUserName" value="admin"/>
    <add key="T2G_Password" value="admin"/>
    <add key="T2G_NotificationUrl" value="http://alstom-ground-pis-server/Mission/T2GNotificationService.asmx"/>
    <add key="ApplicationId" value="PIS.Mission.Test"/>
    <!-- Event Log levels: none = 0, debug = 1, info  = 2, error = 3, warning = 4-->
    <add key="LogLevel" value="4"/>
    <!-- Time, in second, to wait between two uploads to T2G Ground -->
    <add key="WaitingTimeBetweenUploads" value="60"/>
    <!-- Maximum parrallel uploads to T2G Ground -->
    <add key="MaxParallelUploadsLimit" value="3"/>
    <!-- Enable/Disable filtering support of services of local train. Valid values: true or false. Default false -->
    <add key="EnableFilterLocalServiceOnly" value="false"/>
  </appSettings>
</configuration>